.mycarousel {
    width: 100%;

    .carousel {
        width: 100%;
        h1{
            margin: 15px 15px;
        }
        .carouselwrapper{
            width: 100%;
            padding: 0px 15px;

            
        }
    }
}


.mysuggestioncard{
    border: 1px solid;
    height: 300px;
    width: 250px;
    border-radius: 10px;
}



